body {
  text-align: center;
  overflow: hidden;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#board {
  display: grid;
  width: 500px;
  height: 500px;
  margin-top: 20px;
  border: 1px solid green;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;
  
}